/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree ./shared
 *= require_tree ./css
 *= require_scaffold
 *= require_static_pages
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_posts
 *= require_self
 *= require_bootstrap_and_overrides
 */

.ui-helper-hidden-accessible {
  display: none;
}

.topic {
	-moz-linear-gradient(left top, #053164, #1073b9) !important;
	-webkit-gradient(linear, left top, right bottom, from(#053164), to(#1073b9)) !important;
	border-radius: @border-radius-topic !important;
	color: @w !important;
	padding: @padding !important;
	background-color: @theme-color-serious !important;
	font-family:'メイリオ' !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	border: solid 2px @w !important;
	border-radius: @border-radius !important;
}